.container{
    border: 1px solid greenyellow;
    min-height: 80px;
}

.container-fluid{
    border: 1px solid dodgerblue;

    /* TODO Rimuovere */
    /* min-height: 80px; */
}

section{
    /* border: 1px solid goldenrod; */
    min-height: 80px;
}

img{
    max-width: 100%;
}

.row{
    border: 1px solid firebrick;
}

.col{
    border: 1px solid orangered;
}

:root{
    --black: #000;
    --playstation-blue: #00439C;
}

/* navbar */

#nav-upper-section{
    background-color: var(--black);
    height: 40px;
}

#nav-upper-section #sony-logo{
    width: 100px;
}

#nav-bottom-section{
    height: 80px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0);
}

/* jumbotron */