.container{
    /* border: 1px solid greenyellow; */
    min-height: 80px;
}

.container-fluid{
    /* border: 1px solid dodgerblue; */
}

section{
    /* border: 1px solid goldenrod; */
    min-height: 80px;
}

img{
    max-width: 100%;
}

.text-lightblue{
    color: var(--light-blue);
}

.text-big{
    font-size: 40px;
}

.row{
    /* border: 1px solid firebrick; */
}

.col{
    /* border: 1px solid orangered; */
}

.rounded-custom{
    border-radius: 20px;
}

:root{
    --black: #000;
    --playstation-blue: #00439C;
    --light-blue: #2988D5;
    --orange: orangered;
    --blue: #2D64E6;
    --gray: #BEBCBB;
    --light-gray: #D9DADC;
    --dark-blue: #161C3B;
}

/* navbar */

.navbar{
    width: 100vw;
    position: fixed;
    background-color: #fff;
}

#nav-upper-section{
    background-color: var(--black);
    height: 40px;
}

#nav-upper-section #sony-logo{
    width: 100px;
}

#nav-bottom-section{
    height: 80px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0);
}

/* jumbotron */

header{
    padding-top: 120px;
}

.jumbotron{
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

#main-jumbotron{
    background-image: url(img/jumbo-bg.png);
}

.jumbotron a{
    background-color: var(--orange);
    width: 150px;
}

#returnal-logo{
    width: 300px;
}

/* Banner Changer */

#banner-changer img{
    width: 100%;
}

/* Console PS5 */

#console-ps5 a{
    background-color: var(--blue);
}

/* Secondary Jumbotron */

#secondary-jumbotron{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
}

#it-takes-too-logo{
    width: 200px;
}

/* Explore PS4 */

#explore-ps4 a{
    background-color: var(--blue);
    width: 115px;
}

#explore-ps4 img{
    width: 400px;
}

/* PlayStation Plus Banner*/

#playstation-plus{
    background-color: var(--gray);
    background-image: url(img/ps-plus-april-monthly-games-featured-image-block.png);
    background-size: contain;
}

#ps-plus-logo{
    width: 400px;
}


#playstation-plus a{
    background-color: var(--light-gray);
    width: 220px;
}

/* PlayStation Now Banner */

#playstation-now-banner{
    background-color: var(--dark-blue);
    background-image: url(img/ps-now-april-featured-image-block.png);
    background-size: contain;
}

#ps-now-logo{
    width: 400px;
}

#playstation-now-banner a{
    background-color: #fff;
    color: var(--dark-blue);
    width: 220px;
}

/* footer */

#footer-box{
    background-color: var(--playstation-blue);
    min-height: 600px;
}

#footer-playstation-logo img{
    width: 100px;
    filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(297deg) brightness(150%) contrast(100%);
}